 
 #map{
  	height: 450px;
  	width: 100%;
  	margin-top: 30px;
}
#rest_info{
	
}

#logged_div{
	position: fixed;
	width: 100%;
	background-color: orange;
	top: 0px;
	height: 30px;
	clear: both;
}

#logged_div div{
	float: right;
	margin-right: 1.5em;
	margin-left: 0.5em;
	font-size: 0.8em;
}
#logged_div p{
	margin-top: 10%;
}

#roles_div{
	margin-top: 30px;
	margin-bottom:10px;
	height: auto;
}
#roles_div ul{
	padding-left: 0;
}
#roles_div ul li{
	float:left;
	margin-left: 10px;
	padding-left: 0;
	margin-right: 10px;
	margin-top: -10px;
	list-style-type: none;
} 

.rating_label{
	font-weight: bold;
	font-size: 1.15em;
}

.review_label{
	font-weight: bold;
	font-size: 1.15em;
}