.select2-container .select2-choice {
  background-color: transparent;
  border: none !important;
}

.select2-container,
.select2-drop,
.select2-drop-mask,
.select2-container-multi, 
.select2-choices{ 
  background-color: #F4F4F4 !important;
  border: none !important;
  box-shadow: none !important;
}
.select2-drop{ 
  z-index: 99999999;
}
.select2-search {
background-color: #FCFCFC;
}
.select2-container, 
.select2-choice,
.select2-container-multi, 
.select2-choices,
.select2-container{ 
  background-image: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-top: 1px solid #C1C1C1 !important;
  margin-left: 15px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.select2-container-multi .select2-choices,
.select2-container-multi .select2-choices{
    border-top: none !important;
}
.select2-results li {
  padding-left: 5px;
}

.select2-container,
ul.select2-choices{
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
.select2-container{
  width: 98%;
  margin-bottom: 18px;
}
.select2-input{
  border-top: none !important;
}

.select2-results {
  max-height: 103px;
}

.select2-highlighted{
  transition: background .3s, color, .3s;
  background: $blue !important;
}

.select2-search-choice{
  color: #FFF !important;
  border: 1px solid $blue !important;
  box-shadow: none !important;
  background-color: $blue !important;
  background-image: none !important;
}

.select2-search-choice  a{
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
    margin-top: 0 !important;
}

.select2-container-multi .select2-search-choice-close {
left: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
background-position: right -12px;
}

.owners .select2-container{
    margin-left: 0;
    width: 101%;
}
.select2-results .select2-highlighted {
background: #002D67;
color: #FFF;
}
.select2-container-multi .select2-choices .select2-search-choice{
  background-color: #00D3DE;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi){
.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
background-image: url('select2x2.png') !important;
}